.wrapper {
	width: 100%;
	height: 100vh;
	margin: $margin;
}

button {
	width: 20%;
	height: 30px;
}

table.top3highscore { 
	width: 60%;
}

#logga {
	width:400px;
	height:300px;;
}

#boardContainer {
	margin-top: 30px !important;
}