html, body, div, section, main, article {
	box-sizing: border-box;
}

html, body {
	margin:0;
	background-color: #f2f2f2;
}

h1, h2, h3 {
	margin: 0;
	padding: .7em;
}

.wrapper{
	width: $maxWidthMobile;
	margin: $margin;
	background-color: $light;
}

section, div {
	//margin: 15px;
	//border: 2px solid black;
	box-sizing: border-box;
	//border-style: dotted;
	border-color: $black;
}

section > div {
	text-align:center;
}

table, th, td {
	border: 1px solid black;
	margin: $margin;
	border-collapse: collapse;
}

th {
	width: 200px;
	height: 30px;
	font-family: $font;
}

td {
	width: 200px;
	height: 50px;
	font-family: $font;
}

button {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 150px;
	height: 30px;
	cursor: pointer;
	margin: 0 auto;
	border: 2px solid $dark;
	font: normal 24px "Advent Pro", Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 1px;
	background: $blueish;
	-webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	-o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
	transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

button:hover {
	border: 2px solid $blueish;
	color: rgba(255,255,255,1);
	background: $dark;
}

button:active {
	border: 2px solid rgba(33,224,163,1);
	background: rgba(199,221,33,1);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}



#formContainer {
	//margin: 15px;
	//border: 2px solid black;
	//border-style: dotted;
	//border-color: $green;
	box-sizing:border-box;
}

#boardContainer {

	position: relative;

	@include clearfix;
	height: 100vh;
	
	div#info-box {
		width: 100%;
		height: 30px;
		text-align: center;
		background-color: rgba(255,255,255,0.6);
		position: absolute;
		margin: $margin;

		#timer, #info{
		//border: 2px solid black;
		margin: $margin;
		
		}

		#timer{
			
		}

		#info{
			display: none;
		}	
	}
}

div#memoryBoard{
	@include clearfix;
	background: grey;
	//width:100vw;
	height:100%;
	width:100%;
	margin:0px auto;
	box-sizing: border-box;
}

div#memoryBoard {

	> div {
		//background: linear-gradient(red, #ffcc00);
		border: white 1px solid;
		width: 25%;
		height: 25%;
		float: left;
		padding: 20px;
		font-size: 64px;
		cursor: pointer;
		text-align: center;
		box-sizing: border-box;

		&.tile {
			background-position: center;
			background-size: cover !important;
			text-indent: -99999em;
		}

	}

}

.hide {
	display:none;
}





















