

.wrapper {
	width: 100%;
}

#levels {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

#boardContainer {
	margin-top: 40px !important;
	height: 100vw;
	width: 100vw;
	margin: 0 auto;
}

label {
	//outline: 1px solid black; 
	width: 30%;
	margin: 1%;
}

table.top3highscore { 
	width: 90%;
}
