

$maxWidthMobile: 767px;
$minWidthTablet: 768px;
$maxWidthTablet: 1099px;
$minWidthDesktop: 1100px;

$blueish: #77AAAD;
$dark: #6E7783;
$light: #D8E6E7;
$black: #333030;
$popcolor:#008080;
$white:#fff;
$black:#000000;

$font: Lato;

$margin:0 auto;


