/* includes */

@import 'normalize';
@import 'variables';
@import 'mixins';

@import 'main';

@media screen and (max-width: $maxWidthMobile) {
	@import 'mobile';
}

@media screen and (min-width: $minWidthTablet) and (max-width: $maxWidthTablet){
	@import 'tablet';
}

@media screen and (min-width: $minWidthDesktop) {
	@import 'desktop';
}

div#memory_board{
	background:#CCC;
	width:100vw;
	height:100vh;
	margin:0px auto;
	box-sizing: border-box;
}
div#memory_board > div{
	background-color: red;
	border:#000 1px solid;
	float:left;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
	box-sizing: border-box;
}